@import "./../../PageWidth.scss";

.new-note-page-frame{
  width: $page-width;
  margin: 10px auto;

  h2{
    margin: 10px;
  }

  .central-input-frame{
    text-align: center;
  }

  textarea{
    width: 80%;
    resize: none;
    text-align: center;
    padding: 5px;
  }
}
