@import "./../../PageWidth.scss";

$note-frame-width: 300px;
@media only screen and (max-width: 480px){
  $note-frame-width: $page-width;
}

.note-summary-frame{
  min-width: $note-frame-width;
  margin: 30px;
}
