.note-summary-frame{
  width: 325px;
  background-color: white;
  margin: 15px;
  padding: 10px;

  h2{
    margin: 0;
  }

  .summary-text{
    height: 75px;
  }

  .note-summary-tag{
    margin-right: 10px;
  }
}

@media only screen and (max-width: 480px){
  .note-summary-frame{
    width: 100%;
    min-width: 0;
    margin: 5px 0;
  }
}
