@import "./../../PageWidth.scss";

.selection-page-frame{
  background-color: red;
  width: $page-width;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}
