@import "./../../PageWidth.scss";

.nav-bar-frame{
  .nav-chain-frame{
    display: flex;
    justify-content: center;

    .nav-chain-spacing{
      width: $chain-divider-width;
    }
  }

  nav{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin: auto;
    width: $page-width;
    border-radius: 20px;
    background-color: white;

    .nav-buttons-frame{
      display: flex;
      margin-top: 2px;
    }

    a{
      display: inline-block;
      text-align: center;
      text-decoration: none;
      color: black;
      margin: 10px;
      width: 130px;

      &:hover{
        opacity: 0.75;
      }
    }

    .search-frame{
      flex: 1;
      text-align: center;
      min-width: 225px;

      input[type=search]{
        margin: 10px;
        width: 80%;
        border: 1px solid black;
        font-size: 15px;
      }

      .search-icon{
        cursor: pointer;
      }
    }
  }

  @media only screen and (max-width: 1050px){
    nav{
      display: block;
      text-align: center;
    }
  }
}
